/* .header-menu
{
	background-color: #90EE90;
	text-decoration: none;
	padding: 50px 0 50px 0;
} */

body {
    background: url(../images/containerbg.jpg);
    /* right: auto; */
    overflow-x: hidden;
}

.container,
.container-fluid {
    padding: 0px !important;
}

#brand-logo {
    height: 125px;
    width: 125px;
}

.navbar {
    padding: 0 !important;
}

.navbar-brand {
    margin-top: -105px;
}

#brand-name {
    text-align: center;
    font-size: 95px;
    font-family: 'Love Ya Like A Sister', cursive;
    cursor: pointer;
    color: #894E00;
}

.logo_div_child {
    display: inline-block;
    text-align: center;
}

.item {
    height: 400px;
    width: 100%;
}

.select_state {
    margin-top: 80px;
    margin-bottom: 200px;
}

.image_carousel,
.carousel-inner,
.carousel {
    width: 100%;
    height: 480px;
}

#footer {
    position: absolute;
    margin-bottom: 0;
    padding: 0px 0px 0px 0px;
    background-color: #577308;
    font-size: 18px;
    text-align: center;
    left: 0;
    margin-top: 30px;
    width: 100%;
}

#footer div {
    line-height: 25px;
}

#footerlinks {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
    height: 20px;
}

.footermargin {
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
}

#footerlinks li {
    font: normal 0.8em Arial, Helvetica, sans-serif;
    display: inline;
    letter-spacing: 1px;
    border-right: #ffffff 1px solid;
    margin: 0px 0px 0px 0px;
    padding: 0px 5px 0px 5px;
}

#footerlinks li a {
    color: #FFF;
    text-decoration: none;
    background-color: transparent;
}

#footerlinks ul li.last {
    border-right-width: 0px;
}

#owner {
    text-align: center;
    font: normal 0.8em Arial, Helvetica, sans-serif;
    color: #FFF;
    line-height: 17px;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
    background-color: transparent;
}

.notice {
    z-index: 600;
    display: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.88);
    color: #FFFFFF;
    position: fixed;
    bottom: 0;
    height: 80px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    padding-top: 15px;
}

.fq-error {
    z-index: 600;
    display: none;
    width: 100%;
    background-color: rgba(191, 16, 16, 0.87);
    color: #FFFFFF;
    position: fixed;
    bottom: 0;
    height: 80px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    padding-top: 15px;
}

.fq-error button {
    position: relative;
    top: 15px;
    right: 30px;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.menu-bar
{
    text-align : center;
    background: #577308;
}

.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
    padding-left: 0;
    margin-bottom: 0;
}

.menu-bar ul li
 {
     /* width:120px; */
     margin:15px;
     padding:15px;
 }

 .menu-bar ul li a
 {
     text-decoration:none;
     color:#fff;
 }
