.container,
.container-fluid {
    padding: 0px !important;
}

#brand-logo {
    height: 125px;
    width: 125px;
}

.navbar {
    padding: 0 !important;
}

.navbar-brand {
    margin-top: -105px;
}

#brand-name {
    text-align: center;
    font-size: 95px;
    font-family: 'Love Ya Like A Sister', cursive;
    cursor: pointer;
    color: #894E00;
}

.logo_div_child {
    display: inline-block;
    text-align: center;
}

.item {
    height: 400px;
    width: 100%;
}

.fq-white-color {
    color: #000 !important;
}

.fq-theme-bg {
    background-color: #00FF7F !important;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.text-capitalize {
    text-transform: capitalize;
}

.fq-margin-topbtm-10 {
    margin: 10px 0 !important;
}

.btn-primary {
    background-color: #008000 !important;
    border-color: #556B2F !important;
}

.fq-text-lg {
    font-size: 16px !important;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}